//  base 
@use './partials/base/reset';
@use './partials/base/tipografia';

// componentes

@use './partials/componets/header';
@use './partials/componets/cards';
@use './partials/componets/imagfon';
@use './partials/componets/Histori';
@use './partials/componets/videos';
@use './partials/componets/contact';
@use './partials/componets/footer';
@use './partials/componets/animation';
@use './partials/componets/media';