@use '../utilities/mixins';

// .card-container{
//     display: flex;
//     flex-direction: row;
//     justify-content:flex-start;
//     align-items: center;
// }
.card{
   width: 150px;
   height: 200px;
   border: 2px solid black;
   background-color: black;
   align-items: center;
   color: yellow;
   margin: 1rem 1rem;
}
.card-container{
    //    border: 2px solid yellow;



       display: grid;
       grid-template-columns: 150px 150px 150px 1000px;
       grid-template-rows: 60px 60px 60px 60px;
       justify-content: first baseline;
       
      

       gap: 2rem;     
}
 
        .p-artis1{
        font-size: 23px;
        color: yellow;
        margin-top: 4rem;
    } 

 .p-artis2{
    font-size: 23px;
    color: yellow;
    margin-top: 2rem;
    
    
    }