@use '../utilities/mixins';

// .card-container{
//    grid-template-columns: 600px;
//    grid-template-rows: 300px 300px 300px;
//     display: flex;
//     flex-direction: row;
//     justify-content:flex-start;
//     align-items: center;
//     border: 2px solid yellow;

.card{
   width: 150px;
   height: 200px;
   border: 1px solid black;
   background-color: black;
   justify-content: center;
   align-items: center;

   color: yellow;
   margin: 2rem 2rem;
   margin-right: 2rem;
}
.card-container{
       display: grid;
       grid-template-columns: 150px 150px 150px 1000px;
       grid-template-rows: 60px 60px 60px 250px;
       justify-content: flex-start;
       justify-items:center;
       gap: 1rem;  
       margin-right: 10rem; 
         
}

 
        .p-artis1{
        font-size: 21px;
        color: yellow;
        margin-top: 2rem;
    } 

 .p-artis2{
    font-size: 23px;
    color: yellow;
    margin-top: 2rem;
    }
    .img-card{
      margin-left: 2rem;
    }