.footer-p{
    display: grid;
    grid-template-columns:10px 299px ;
    grid-template-rows:1px 1px ;
    border: 1px solid white;
    background-color: white;
    color: yellow;
    margin:2rem ;
    margin-top: 5rem;
    margin-bottom: 1rem;
    text-decoration: solid;

}
.ul-logos{
    display:flex;
    flex-direction:row ;
    justify-content: flex-start;
    align-self: flex-end;
    
    gap: 1rem;
    list-style-type: none;
    margin-top: 10px;

}
.copy{

    justify-content:start;
    color: yellow;
    margin: right 10rem;
    
}
#footer-div{
display: grid;
    grid-template-columns:10px 299px ;
    grid-template-rows:1px 1px ;
    border: 1px solid white;
    background-color: white;
    color: yellow;
    margin:2rem ;
    margin-top: 5rem;
    margin-bottom: 1rem;
    text-decoration: solid;
}