.nav-link{
   color: #ffc107;
   text-decoration: underline; 
   &:hover{
    color:white;
   }
   font-size: 20px;
}
  .navbar-toggler{
    background-color: #ffc107;
  }


.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: #000 !important;
}
.navbar{
    --bs-navbar-active-color: #ffc107;
    justify-content: center;
}
    .navbar-expand-lg .navbar-collapse {
        
        flex-basis: content;
        justify-content: flex-start;
        
        margin-right: 220px;
        margin-bottom: 10px;
    }
 .animate__animated {
    height: 100px;
    padding-top: 20px;
    padding-left: 100px;
    margin: 1rem;
 }  
 