.fondo{
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: flex-start;
   border: 2px solid yellow;
   width: 1200px;
   height: 550px;
   margin-left: 140px;
   margin-top: 10px;
  
}
