
@media (max-width: 450px)  {
    .fondo{
        width: 385px;
        height: 300px;
        justify-items: flex-start;
        margin-left: 40px;
        margin-top: 2rem;
        .navbar-toggler{
            width: 4px;
            height: 2px;
            margin: 1rem;
            margin-bottom: 1rem;
            padding-left: 1rem;
            .nav-link{
           font-size:1px;
           }
        }
    }   
}
@media (max-width: 450px) {
    .animate__animated{
        width: 130px;
        height: 90px;
        padding-left: 1px;
        margin-left: 5px;
    }
}
// nav bar
@media (max-width: 450px) {
   .navbar-toggler-icon{
    width: 10px;
    height: 8px;
   }
}
// division footer
@media (max-width:450px) {
.footer-p{
 width: 460px;
 height: 1px;
 justify-content: space-between;
 justify-items:flex-start;
 margin: 1rem;
 margin-left: 1px;
 margin-top: 5rem;
}  
}

@media (max-width:450px){
    .copy{
   width: 200px;
   height: 68px;
   font-size: 12px;
 }
}
// main historia
@media (max-width: 450px){
    .H1-histo{
        font-size: 23px;
        margin-top: 10px;
        margin-bottom: 50px;
        
    }
}
@media (max-width: 450px){
    .h2-estil{
        justify-content: center;
        align-items: center;
        font-size: 14px;
        width: 300px;
        height: 35px;
        margin-bottom: 1rem;
        margin-top: 2rem;
        
    }
}
@media (max-width:450px){
    .h2_artistas{
        font-size: 14px;
        color: yellow;
        width: 200px;
        height: 35px;
        text-decoration: underline;
        margin: 1rem;
        margin-bottom: 2rem;

    }
}
@media (max-width: 450px) {
    .p-hist{
        grid-template-columns: 1px ;
        grid-template-rows: 1800px 2345px 1380px;
        flex-direction: column;
       justify-content: flex-start;
        font-size: 13px;
        // border: 2px solid yellow;
        margin-left: 1px;
        padding: 1px;
        gap: 1rem;
    }
}
@media (max-width:450px) {
    h3{
        font-size: 13px;
    }
} 
@media (max-width:450px) {
    h3{
        font-size: 11px;
    }
}
@media (max-width: 450px){
    .imghist{
        width: 300px;
        height: 200px;
        padding: 1rem;
    }
}
@media(max-width:450px){
    .img-robert{
        width: 300px;
        height: 200px;
        padding: 1rem;
    }
}
// CARDS ARTISTAS QUERIES
@media (max-width: 450px){
    .card-container{
        grid-template-columns:300px;
        grid-template-rows: 210px 180px 300px;
        justify-content: space-around;
        gap: 1rem;
        padding: 1rem;
        margin-left: 10px;
        margin-bottom: 1rem;
    }
}
@media(max-width:450){
    .card{
        justify-content: center;
        justify-items: center;
    }
}
@media (max-width:450px){
    h3{
        font-size: 16px;
        
    }
}
@media(max-width:450){
    .p{
        align-items: center;
    }
}
@media(max-width:450px){
    .p-artis1{
        justify-content: center;
        justify-items: center;
        font-size: 16px;
        .p-artis{
            font-size: 16px;
        }
    }
}
@media(max-width:450px){
   .img-card{  
    width: 120px;
    height: 150px;
    gap: 1rem;
    justify-content:flex-start ;
    }
}
@media(max-width:450px){
    .h1-artis{
        width: 200px;
        height: 100px;
        font-size: 20px;
       justify-content: flex-start;
       margin-top: 5rem;
        
    }
}
// escucha blues
@media(max-width:450){
      
}
@media(max-width:450px){
    .parrafo-artis{
        font-size: 16px;
}
}
@media(max-width:450px){
    .img_video{
        width: 100px;
        height: 150px;
        
    }
}
@media(max-width:450px){
    .link-video{
        justify-content: center;
        justify-items: center;
        margin-left: 5px;

    }
}
// contactos
@media(max-width:450px){
    .custom-form{
        justify-content: start;
    }
      
    
}
    

