
@media (max-width: 450px)  {
    .fondo{
        width: 350px;
        height: 300px;
        justify-items: flex-start;
        margin-left: 30px;
        margin-top: 5rem;
        .navbar-toggler{
            width: 4px;
            height: 2px;
            margin: 1rem;
            padding-left: 0rem;
            .nav-link{
           font-size:1px;
           }
        }
    }   
}
@media (max-width: 450px) {
    .animate__animated{
        width: 130px;
        height: 90px;
        padding-left: 1px;
        margin-left: 200px;
    }
}
// nav bar
@media (max-width: 450px) {
   .navbar-toggler-icon{
    width: 10px;
    height: 8px;
   }
}
// division footer
@media (max-width:450px) {
.footer-p{
 width: 900px;
 height: 1px;
 justify-content: space-between;
 justify-items:flex-start;
 margin: 1rem;
 margin-left: 1px;
 margin-top: 5rem;
}  
}

@media (max-width:450px){
    .copy{
   width: 108px;
   height: 68px;
   font-size: 10px;
 }
}
// main historia
@media (max-width: 450px){
    .H1-inicio{
        font-size: 23px;
        margin-top: 60px;
    }
}
@media (max-width: 450px){
    .h2-estil{
        font-size: 12px;
        width: 200px;
        height: 30px;
    }
}
@media (max-width: 450px) {
    .p-hist{
        grid-template-columns: 500px 500PX;
        grid-template-rows: 2000px 1300PX;
        justify-content: start;
        justify-items: flex-start;
        font-size: 14px;
        margin-left: 1px;
        padding: 1px;
        gap: 2rem;
        
    
    }
}
@media (max-width:450px) {
    h3{
        font-size: 13px;
    }
} 
@media (max-width:450px) {
    h3{
        font-size: 11px;
    }
}
@media (max-width: 450px){
    .imghist{
        width: 300px;
        height: 200px;
        padding: 1rem;
    }
}
@media(max-width:450px){
    .img-robert{
        width: 300px;
        height: 200px;
        padding: 1rem;
    }
}
// CARDS ARTISTAS QUERIES
@media (max-width: 450px){
    .card-container{
        grid-template-columns:100px 100 50px;
        grid-template-rows: 100px 100px ;
       justify-content: space-between;
       gap: 1rem;
       padding: 1rem;
       margin-left: 10px;
    }
}
@media (max-width:450px){
    body{
        width:30px ;
        height: 50px;
    }
}
@media(max-width:450px){
    .p-artis1{
        font-size: 11px;
        .p-artis{
            font-size: 11px;
        }
    }
}
@media(max-width:450px){
   .img-card{  
    width: 120px;
    height: 150px;
    gap: 1rem;
    justify-content:flex-start ;
    }
}
@media(max-width:450px){
    .h1-artis{
        width: 200px;
        height: 100px;
        font-size: 20px;
       justify-content:end;
        
    }
}
// escucha blues
@media(max-width:450px){
    .parrafo-artis{
        font-size: 16px;
}
}
@media(max-width:450px){
    .img_video{
        width: 100px;
        height: 150px;
        
    }
}
@media(max-width:450px){
    .link-video{
        justify-content: center;
        justify-items: center;
        margin-left: 5px;

    }
}
        
    

