.container-video{
   display: grid;
   grid-template-columns: 150px 150px 100px 800px;
   grid-template-rows: 80px 80px 80px 80px;
   flex-direction: row;
   justify-content: space-around;
   gap: 20px;
   margin: 1rem;
  
   
   

//    border: 2px solid rgb(36, 210, 1)
}
.img_video{
    width: 150px;
    height: 250px;
    
}
.link-video{
    color: yellow;
    display: flex;
   justify-content: center;
   justify-items: center;
   gap: 2rem;
   & :hover{
    color: white;
        
   }
   

   
}
.link-playlist {
    display: flex;
    justify-content: start;
    list-style-type: none;
    flex-direction: row;
    color: yellow;
}
.parrafo-artis{
    display: flex;
    justify-content: flex-end;
    color: yellow;
    font-size: 17px;
}.List-link{
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    :hover{
    color: beige;
}
}


