/* Fuente Cairo */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
/* font-family: "Cairo", sans-serif; */
h1{
    color: yellow;
    text-align: center;
    margin-top: 10px;
}
.h2-estil{
    color: yellow;
    text-decoration: underline;
    margin-bottom: 1rem;
}
