/* Fuente Cairo */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
/* font-family: "Cairo", sans-serif; */
h1{
    color: yellow;
    text-decoration: underline;
    text-align: center;
    margin-top: 8px;
}
.h2-estil{
    font-size: 20px;
    color: yellow;
    text-decoration: underline;
    margin: 1rem;
}
h3{
    font-size: 20px;
    text-decoration: underline;
    color: yellow;
    margin-top: 2rem;
}
